# pip3 install -r requirements.txt

Flask
Flask-SQLAlchemy==2.1.0
Jinja2
SQLAlchemy
Werkzeug
flask_wtf
pytest
pytest-cov
flask-testing
pymysql
wtforms
wtforms.validators


# python3 -m venv venv
# source venv/bin/activatel