<html>
    <head>
        <title>Add Customer</title>
    </head>
    <body>
        <h2>Add Customer to Database</h2>
        <p>Enter Details:</p>
        <div>
        <div class='form'>
            <form method='POST' action=''>
            {{form.hidden_tag()}}
            {{form.first_name.label}} 
            <br>
            {{form.first_name}}
            <br>
            {{form.last_name.label}} 
            <br>
            {{form.last_name}}
            <br>
            {{form.email_address.label}} 
            <br>
            {{form.email_address}}
            <br>
            {{form.submit}}
            {{message}}
            </form>
            <br>
            <br> <a href="{{url_for('add_product')}}" type="button">Add New Product</a> </br>
            <br>
            <br> <a href="{{url_for('customer_list')}}" type="button">Create Order</a> </br>
            <br>
            <br> <a href="{{url_for('order_list')}}" type="button">Order List</a> </br>
            <br>
        </div>
    </body>
</html>