<html>
    <head>
        <title>Add Order</title>
    </head>
    <body>
        <h2>Add Order To Database</h2>
        <p>Enter Details:</p>
        <div>
        <div class='form'>
            <form method='POST' action=''>
            {{form.hidden_tag()}}
            {{form.product_id.label}} 
            <br>
            {{form.product_id}}
            <br>
            {{form.customer_id.label}} 
            <br>
            {{form.customer_id}}
            <br>
            {{form.quantity.label}} 
            <br>
            {{form.quantity}}
            <br>
            {{form.total_price.label}}
            <br>
            {{form.total_price}}
            <br>
            {{form.date_ordered.label}}
            <br>
            {{form.date_ordered}}
            <br>
            {{form.submit}}
            {{message}}
            </form>
            <br>
            <br> <a href="{{url_for('add_customer')}}" type="button">Add New Customer</a> </br>
            <br>
            <br> <a href="{{url_for('add_product')}}" type="button">Add New Product</a> </br>
            <br>
            <br> <a href="{{url_for('customer_list')}}" type="button">Create New Order</a> </br>
            <br>
            <br> <a href="{{url_for('order_list')}}" type="button">Order List</a> </br>
            <br>
    </body>
</html>