<html>
    <head>
        <title>Add Product to Database </title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.product.label }} {{ form.product }}
            <br>
            {{ form.quantity.label }} {{ form.quantity }}
            <br>
            {{ form.price.label}} {{form.price}}
            <br>
            {{ form.submit }}
            {{ message}}
            </form>
            <br>
            <br> <a href="{{url_for('addcustomer')}}" type="buton">Add New Customer</a> </br>
            <br>
            <br> <a href="{{url_for('customerlist')}}" type="button">Customer List</a> </br>
            <br>
            <br> <a href="{{url_for('orderlist')}}" type="button">Order List</a> </br>
            <br>
            <br> <a href="{{url_for('addproduct')}}" type="button">Product List</a> </br>
        </div>
    </body>
</html>
