<html>
    <head>
        <title>Order List</title>
    </head>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 10px
        }
        th {
        text-align: left;
        }
        tr:nth-child(even) {
        background-color: #eee;
        }
        tr:nth-child(odd) {
        background-color: #fff;
        }
        th {
        background-color: black;
        color: white;
        }
    </style>
    <body>
        <h1>Order List</h1>
        <p>All Current Orders</p>
        <div>
            <table style="width:50%">
                <tr>
                    <th>Product iD</th>
                    <th>Customer iD</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Date Ordered</th>
                    <th>Delete This Order</th>
                </tr>
                {% for o in order %}
                <tr>
                    <td> {{ o.product_id }} </td>
                    <td> {{ o.customer_id }}</td>
                    <td> {{ o.quantity }} </td>
                    <td> {{ o.total_price }} </td>
                    <td> {{ o.date_ordered }} </td>
                    <td> <a href ="/deleteorder/{{o.id}}">Delete This Order</a></td>
                </tr> {% endfor %} 
            </table>
            <br>
            <br> <a href="{{url_for('add_customer')}}" type="button">Add New Customer</a> </br>
            <br>
            <br> <a href="{{url_for('add_product')}}" type="button">Add New Product</a> </br>
            <br>
            <br> <a href="{{url_for('customer_list')}}" type="button">Customer List</a> </br>
            <br>
            <br> <a href="{{url_for('product_list')}}" type="button">Product List</a> </br>
        </div>
    </body>
</html>