<html>
    <head>
        <title>Order List</title>
    </head>
        <body>
            <table> 
            {% for o in order %} 
            <tr> 
            <td> {{ o.total_price }} </td> 
            <td> {{ o.date_ordered }}</td>
            <td> {{ o.customer_id }} </td> 
            </tr> {% endfor %} 
            </table>
            <br>
            <br> <a href="{{url_for('addcustomer')}}" type="button">Add New Customer</a> </br>
            <br>
            <br> <a href="{{url_for('addproduct')}}" type="button">Add New Product</a> </br>
            <br>
            <br> <a href="{{url_for('customerlist')}}" type="button">Customer List</a> </br>
            <br>
            <br> <a href="{{url_for('productlist')}}" type="button">Product List</a> </br>
        </div>
    </body>
</html>