<html>
    <head>
        <title>Customer List</title>
    </head>
    <body>
        <div>
            <table> 
            {% for p in product %} 
            <tr> 
            <td> {{ p.product }} </td> 
            <td> {{ p.quantity }}</td>
            <td> {{ p.price }} </td> 
            </tr> {% endfor %} 
            </table>
            <br>
            <br> <a href="{{url_for('addcustomer')}}" type="button">Add New Customer</a> </br>
            <br>
            <br> <a href="{{url_for('addproduct')}}" type="button">Add New Product</a> </br>
            <br>
            <br> <a href="{{url_for('customerlist')}}" type="button">Customer List</a> </br>
            <br>
            <br> <a href="{{url_for('productlist')}}" type="button">Product List</a> </br>
        </div>
    </body>
</html>
