<html>
    <head>
        <title>Product List</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                <br>
                <br> <a href="/addcustomer" type="button">Add New Customer</a> </br>'
                <br>
                <br> <a href="/addproduct" type="button">Add New Product</a> </br>'
                <br>
                <br> <a href="/customerlist" type="button">Customer List</a> </br>'
                <br>
                <br> <a href="/orderlist" type="button">Order List</a> </br>''
            {{ message }}
            </form>
        </div>
    </body>
</html>